body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
  }
  
  header .top-bar {
    height: 20px;
    background: #FF6B57;
  }
  
  .nav-bar {
    height: 40px;
    background: #BFDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
